name: 01-trigger-azure-cast-scan-pipeline
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  CastScanning:
     runs-on: ubuntu-latest
     steps:
        - name: Azure pipelines actions
          uses: Azure/pipelines@v1
          with: 
           azure-devops-project-url: 'https://dev.azure.com/rvmado/NVS_EH'
           azure-pipeline-name: 'Application03'
           azure-devops-token: '${{ secrets.AZURE_DEVOPS_TOKEN }}'
